<div class="modal-header">
  <h3 class="modal-title">Versions of {{vm.data.name}}</h3>
</div>

<div class="modal-body">
  <table id="datatable_fixed_column" class="table table-striped table-bordered table-hover" width="100%">
    <thead>
      <tr>
        <th>Md5 Hash</th>
        <th>Version of file</th>
        <th>Size</th>
        <th>Creation date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.data.fileVersions">
        <td>{{item.mD5Hash}}</td>
        <td>{{item.versionOfFile}}</td>
        <td>{{item.size | bytes}}</td>
        <td>{{item.created | date:'HH:mm:ss MM/dd/yyyy'}}</td>
        <td><a href="javascript:void(0);" class="btn btn-xs btn-primary" ng-click="vm.downloadConcreteVersion(item)">Download</a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>