<span class="btn btn-success btn-file">
  <i class="glyphicon glyphicon-plus"></i>
  <span>Add file</span>
  <input type="file" nv-file-select uploader="vm.uploader">
</span>
<span class="btn btn-success" ng-click="vm.addFolder(vm.workPlaceItems.uniqueFolderId)">
  <i class="glyphicon glyphicon-plus"></i>
  <span>Add folder</span>
</span>

<span class="btn btn-success" ng-click="vm.changeFolder(vm.workPlaceItems.parentFolderId)">
  <i class="glyphicon glyphicon-arrow-left"></i>
  <span>Back</span>
</span>

<span class="btn btn-success pull-right" ng-click="vm.recycleBin()" >
  <i class="glyphicon glyphicon-trash"></i>
  <span>Recycle Bin (Trash)</span>
</span>

<br />
<div clas="table-responsive" style="margin-top: 2em">
  <table class="table table-responsive table-condensed table-hover table-striped">
    <thead>
      <tr >
        <td width="4%"></td>
        <td>Name</td>
        <td>Type</td>
        <td>Creation date</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="node in vm.workPlaceItems.filesAndFolders">
        <td ng-if="!node.contentType" class="fa fa-folder fa-2x"></td>
        <td ng-if="node.contentType" class="fa fa-file-text fa-2x"></td>
        <!-- Folder actions -->
        <td ng-if="!node.contentType" uib-dropdown>
          <a href="javascript:void(0);" uib-dropdown-toggle>{{node.name}}</a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="javascript:void(0);" ng-click="vm.changeFolder(node.uniqueFolderId)">Open</a></li>
            <li role="menuitem"><a href="javascript:void(0);" ng-click="vm.renameFolder(node)">Rename</a></li>
            <li role="menuitem"><a href="javascript:void(0);" ng-click="vm.replaceFile(node)">Replace</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="javascript:void(0);">Remove</a></li>
          </ul>
        </td>

        <!-- File actions -->
        <td ng-if="node.contentType" uib-dropdown>
          <a href="javascript:void(0);" uib-dropdown-toggle>{{node.name}}</a>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a href="javascript:void(0);" ng-click="vm.downloadFile(node)">Download latest version</a></li>
            <li role="menuitem"><a href="javascript:void(0);" ng-click="vm.getFileVersions(node)">Display all versions</a></li>
            <li role="menuitem"><a href="javascript:void(0);" ng-click="vm.renameFile(node)">Rename</a></li>
            <li role="menuitem"><a href="javascript:void(0);" ng-click="vm.replaceFile(node)">Replace</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a href="javascript:void(0);" ng-click="vm.removeNode(node)">Remove</a></li>
          </ul>
        </td>
        <td>{{node.contentType}}</td>
        <td>{{node.created | date:'HH:mm:ss dd/MM/yyyy'}}</td>
      </tr>
    </tbody>
  </table>
</div>
